<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button id="content"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Inventory</ion-title>
    <ion-buttons slot="end" (click)="refresh()">
      <ion-icon name="reload" class="end-icon-btn ion-padding-end"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" (click)="goToCategory()">
      <ion-icon
        name="pricetags-outline"
        class="end-icon-btn ion-padding-end ion-padding-start"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-searchbar showcancelbutton="focus"></ion-searchbar>

<ion-content class="ion-padding-bottom">
  <div *ngIf="inProducts.length === 0">
    <ion-label> <h5 class="text-muted">No Products to Show</h5> </ion-label>
  </div>
  <div *ngIf="inProducts.length > 0" class="padding-bottom">
    <ion-label>
      <h5 class="text-muted">Total {{inProducts.length}} Products</h5>
    </ion-label>
    <ion-item lines="none" class="text-header">
      <ion-label class="ion-text-wrap">Product Name</ion-label>
      <ion-label class="ion-text-wrap">Quantity</ion-label>
      <!-- <ion-label class="ion-text-wrap">MRP</ion-label>
      <ion-label class="ion-text-wrap">Purchase Price</ion-label> -->
      <!-- <ion-label class="ion-text-wrap">Selling Price</ion-label> -->
    </ion-item>
    <ion-list *ngFor="let prod of inProducts" class="prodList list-text">
      <ion-item detail button (click)="goToProducts(prod)">
        <ion-label class="ion-text-wrap">{{prod.productName}}</ion-label>
        <ion-label class="ion-text-wrap">&nbsp; &nbsp; {{prod.qty}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
