<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="onCancel()">
      <ion-icon name="close" class="end-icon-btn ion-padding-start"></ion-icon>
    </ion-buttons>
    <!-- <ion-buttons slot="start">
      <ion-menu-button id="content"></ion-menu-button>
    </ion-buttons> -->
    <ion-title class="ion-text-center">Add New User </ion-title>
    <ion-buttons slot="end" (click)="create()">
      <ion-icon
        name="checkmark"
        class="end-icon-btn ion-padding-end"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo ion-padding">
    <ion-img src="../../assets/users/workforce.png"></ion-img>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating"> Full Name </ion-label>
          <ion-input
            type="text"
            inputmode="text"
            [(ngModel)]="userInfo.fullName"
            maxlength="45"
            required
          >
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating"> Username </ion-label>
          <ion-input
            type="text"
            inputmode="text"
            maxlength="15"
            [(ngModel)]="userInfo.username"
            required
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item *ngIf="edit">
          <ion-label position="floating"> Password </ion-label>
          <ion-input
            type="password"
            inputmode="password"
            [(ngModel)]="userInfo.password"
            disabled
            required
          ></ion-input>
        </ion-item>
        <ion-item *ngIf="!edit">
          <ion-label position="floating"> Password </ion-label>
          <ion-input
            type="password"
            inputmode="password"
            [(ngModel)]="userInfo.password"
            required
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Role</ion-label>
          <ion-select interface="popover" [(ngModel)]="userInfo.role" required>
            <ion-select-option value="2">Basic User</ion-select-option>
            <ion-select-option value="3">Read-only User</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- <ion-row class="ion-justify-content-center">
      <ion-button expand="block" fill="outline"  color="dark" (click)="signup()" >Signup</ion-button>
    </ion-row> -->
  </ion-grid>
</ion-content>
<ion-footer class="ion-padding" *ngIf="!edit">
  <ion-button size="normal" fill="clear" color="danger" (click)="onCancel()">
    Cancel
  </ion-button>
  <ion-button
    size="normal"
    fill="outline"
    color="tertiary"
    style="float: right"
    (click)="create()"
  >
    Add User
  </ion-button>
</ion-footer>
<ion-footer class="ion-padding" *ngIf="edit">
  <ion-button size="normal" fill="outline" color="success" (click)="onCancel()">
    Cancel
  </ion-button>
  <ion-button
    size="normal"
    fill="outline"
    color="danger"
    style="float: right"
    (click)="deleteUser()"
  >
    Delete User
  </ion-button>
</ion-footer>
