<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start" (click)="onBack()">
      <ion-icon
        name="close"
        class="end-icon-btn ion-padding-start"
        *ngIf="pageView === 'header'"
      ></ion-icon>
      <ion-icon
        name="arrow-back"
        class="end-icon-btn ion-padding-start"
        *ngIf="pageView !== 'header'"
      ></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center" *ngIf="pageView === 'header'">
      Add New invoice
    </ion-title>
    <ion-title class="ion-text-center" *ngIf="pageView === 'lines'">
      {{invHead.invType}} - {{invHead.invNumber}}
    </ion-title>
    <ion-title class="ion-text-center" *ngIf="pageView === 'summary'">
      Invoice Summary
    </ion-title>
    <ion-buttons slot="end" (click)="onNextBtn()">
      <ion-icon
        name="arrow-forward"
        class="end-icon-btn ion-padding-end"
        *ngIf="pageView !== 'summary'"
      ></ion-icon>
      <ion-icon
        name="checkmark"
        class="end-icon-btn ion-padding-end"
        *ngIf="pageView === 'summary'"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-img
    src="../../assets/extras/invoice-bro.png"
    *ngIf="pageView !== 'summary'"
  >
  </ion-img>
  <div class="header" *ngIf="pageView === 'header'">
    <ion-title class="ion-text-center"> Invoice Header </ion-title>
    <ion-grid class="ion-padding-start ion-padding-end">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating"> Invoice Type </ion-label>
            <ion-select
              interface="popover"
              [(ngModel)]="invHead.invType"
              disabled
            >
              <ion-select-option value="purchase"> Purchase </ion-select-option>
              <ion-select-option value="sales"> Sales </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating"> Invoice Currency </ion-label>
            <ion-select
              interface="popover"
              [(ngModel)]="invHead.invCurr"
              required
            >
              <ion-select-option value="INR"> INR </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating"> Invoice Number </ion-label>
            <ion-input
              type="text"
              inputmode="text"
              [(ngModel)]="invHead.invNumber"
              maxlength="15"
              readonly
            >
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating"> Invoice Date </ion-label>
            <ion-datetime
              displayFormat="DD-MMM-YYYY"
              [(ngModel)]="invHead.invDate"
              readonly
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item *ngIf="invHead.invType === 'purchase'">
            <ion-label position="floating"> Supplier Name </ion-label>
            <ion-select
              interface="popover"
              [(ngModel)]="invHead.vendorName"
              required
              (ngModelChange)="getMobileNumber($event)"
            >
              <ion-select-option
                *ngFor="let vend of inVendor"
                value="{{vend.vendorName}}"
              >
                {{vend.vendorName}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="invHead.invType === 'sales'">
            <ion-label position="floating"> Customer Name </ion-label>
            <ion-select
              interface="popover"
              [(ngModel)]="invHead.vendorName"
              required
              (ngModelChange)="getMobileNumber($event)"
            >
              <ion-select-option
                *ngFor="let vend of inVendor"
                value="{{vend.vendorName}}"
              >
                {{vend.vendorName}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating"> Mobile No. </ion-label>
            <ion-input
              type="text"
              inputmode="number"
              [(ngModel)]="invHead.mobile"
              required
              minlength="0"
              maxlength="10"
            >
              <span *ngIf="invHead.mobile"> +91 &nbsp; </span>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating"> Payment Type </ion-label>
            <ion-select
              interface="popover"
              [(ngModel)]="invHead.invPayType"
              required
              *ngIf="invHead.invType === 'purchase'"
            >
              <ion-select-option value="UPI"> UPI </ion-select-option>
              <ion-select-option value="Cash"> Cash </ion-select-option>
              <ion-select-option value="NEFT/IMPS">
                NEFT/IMPS
              </ion-select-option>
              <ion-select-option value="Cheque"> Cheque </ion-select-option>
              <ion-select-option value="Credit/Debit Card">
                Credit/Debit Card
              </ion-select-option>
              <ion-select-option value="Credit Note">
                Credit Note
              </ion-select-option>
              <ion-select-option value="Debit Note">
                Debit Note
              </ion-select-option>
            </ion-select>
            <ion-select
              interface="popover"
              [(ngModel)]="invHead.invPayType"
              required
              *ngIf="invHead.invType === 'sales'"
            >
              <ion-select-option *ngFor="let pay of inPayments" value="{{pay}}">
                {{pay}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating"> Total Products </ion-label>
            <ion-input
              type="number"
              inputmode="number"
              [(ngModel)]="invHead.invProd"
              required
              min="0"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col aria-colspan="2">
          <ion-item>
            <ion-label position="floating"> Description </ion-label>
            <ion-textarea
              type="text"
              inputmode="text"
              [(ngModel)]="invHead.invDesc"
              maxlength="200"
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="lines" *ngIf="pageView === 'lines'">
    <ion-title class="ion-text-center"> Invoice Lines </ion-title>
    <ion-grid class="ion-padding-start ion-padding-end">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating"> Line Number </ion-label>
            <ion-input
              type="number"
              inputmode="number"
              [(ngModel)]="invLines[pageCnt].lnNumber"
              readonly
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating"> Line Type </ion-label>
            <ion-input
              type="text"
              inputmode="text"
              [(ngModel)]="invLines[pageCnt].lnType"
              readonly
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating"> Category </ion-label>
            <ion-select
              interface="popover"
              [(ngModel)]="invLines[pageCnt].catDesc"
              class="lineCategory"
              (ngModelChange)="getFilterProducts($event)"
            >
              <ion-select-option
                *ngFor="let cat of inCategory"
                value="{{cat.catDesc}}"
              >
                {{cat.catDesc}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item *ngIf="!invLines[pageCnt].catDesc">
            <ion-label position="floating"> Product </ion-label>
            <ion-select
              interface="popover"
              [(ngModel)]="invLines[pageCnt].productName"
              disabled
            >
            </ion-select>
          </ion-item>
          <ion-item *ngIf="invLines[pageCnt].catDesc">
            <ion-label position="floating"> Product </ion-label>
            <ion-select
              interface="popover"
              [(ngModel)]="invLines[pageCnt].productName"
              (ngModelChange)="getProductPrice($event)"
            >
              <ion-select-option
                *ngFor="let prod of filterProducts"
                value="{{prod.productName}}"
              >
                {{prod.productName}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating"> MRP (A) </ion-label>
            <ion-input
              type="number"
              inputmode="number"
              min="0"
              [(ngModel)]="invLines[pageCnt].purPrice"
              readonly
            >
              <span *ngIf="invLines[pageCnt].purPrice"> &#8377; &nbsp;</span>
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating"> Quantity (B) </ion-label>
            <ion-input
              type="number"
              inputmode="number"
              min="0"
              [(ngModel)]="invLines[pageCnt].lnQty"
              (ngModelChange)="calculateValue()"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item *ngIf="!invLines[pageCnt].productName">
            <ion-label position="floating"> GST </ion-label>
            <ion-select
              interface="popover"
              [(ngModel)]="invLines[pageCnt].gst"
              disabled
            >
            </ion-select>
          </ion-item>
          <ion-item *ngIf="invLines[pageCnt].productName">
            <ion-label position="floating"> GST </ion-label>
            <ion-select
              interface="popover"
              [(ngModel)]="invLines[pageCnt].gst"
              (ngModelChange)="calculateValue()"
            >
              <ion-select-option value="0"> NA </ion-select-option>
              <ion-select-option value="5"> 5% </ion-select-option>
              <ion-select-option value="12"> 12% </ion-select-option>
              <ion-select-option value="18"> 18% </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item *ngIf="!invLines[pageCnt].productName">
            <ion-label position="floating"> GST Value (C) </ion-label>
            <ion-input type="number" inputmode="number" readonly> </ion-input>
          </ion-item>
          <ion-item *ngIf="invLines[pageCnt].productName">
            <ion-label position="floating"> GST Value (C) </ion-label>
            <ion-input
              type="number"
              inputmode="number"
              [(ngModel)]="invLines[pageCnt].gstAmt"
              readonly
            >
              <span *ngIf="invLines[pageCnt].gstAmt"> &#8377; &nbsp; </span>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating"> Sub Total (D = A * B) </ion-label>
            <ion-input
              type="number"
              inputmode="number"
              [(ngModel)]="invLines[pageCnt].subTotal"
              readonly
            >
              <span *ngIf="invLines[pageCnt].subTotal"> &#8377; &nbsp; </span>
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating" class="prod-label">
              Total (C + D)
            </ion-label>
            <ion-input
              class="prod-label"
              type="number"
              inputmode="number"
              [(ngModel)]="invLines[pageCnt].lnAmt"
              readonly
            >
              <span *ngIf="invLines[pageCnt].lnAmt"> &#8377; &nbsp; </span>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="summary" *ngIf="pageView === 'summary'">
    <ion-title class="ion-padding">
      <span class="ion-padding-start" style="float: left">
        {{invHead.invType | titlecase}} #: {{invHead.invNumber}}
      </span>
      <span class="ion-padding-end" style="float: right">
        {{invHead.invDate | date: 'dd-MMM-yyyy'}}
      </span>
    </ion-title>
    <ion-grid class="ion-padding-start ion-padding-end">
      <ion-row>
        <ion-col>
          <ion-label class="prod-label"> Vendor Name </ion-label> <br />
          <ion-label> {{invHead.vendorName}} </ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="prod-label"> Mobile No. </ion-label> <br />
          <ion-label> +91 {{invHead.mobile}} </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="prod-label"> Invoice Currency </ion-label> <br />
          <ion-label> {{invHead.invCurr}} </ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="prod-label"> Payment Type </ion-label> <br />
          <ion-label> {{invHead.invPayType}} </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label class="prod-label"> Total Products </ion-label> <br />
          <ion-label> {{invHead.invProd}} </ion-label>
        </ion-col>
        <ion-col>
          <ion-label class="prod-label"> Total Amount </ion-label> <br />
          <ion-label> &#8377; {{invCalTotal | number: '1.2-2'}} </ion-label>
        </ion-col>
      </ion-row>
      <ion-row> &nbsp; </ion-row>
      <ion-row>
        <ion-label class="prod-label"> Invoice Items </ion-label>
      </ion-row>
      <ion-row>
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <ion-label> # </ion-label>
            </ion-col>
            <ion-col>
              <ion-label size="3.75"> Product Name </ion-label>
            </ion-col>
            <ion-col size="2">
              <ion-label> Qty </ion-label>
            </ion-col>
            <ion-col size="2.25">
              <ion-label> Price </ion-label>
            </ion-col>
            <ion-col size="2.5">
              <ion-label> Amt </ion-label>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let invLn of invLines">
            <ion-col size="1">
              <ion-label> {{invLn.lnNumber}}. </ion-label>
            </ion-col>
            <ion-col size="4.5">
              <ion-label> {{invLn.productName}} </ion-label>
            </ion-col>
            <ion-col size="2.10">
              <ion-label> {{invLn.lnQty}} </ion-label>
            </ion-col>
            <ion-col size="2.15">
              <ion-label> {{invLn.purPrice | number: '1.2-2'}} </ion-label>
            </ion-col>
            <ion-col size="2.25">
              <ion-label> {{invLn.subTotal | number: '1.2-2'}} </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <ion-label> &nbsp; </ion-label>
            </ion-col>
            <ion-col>
              <ion-label size="1.25"> &nbsp; </ion-label>
            </ion-col>
            <ion-col size="2">
              <ion-label> &nbsp; </ion-label>
            </ion-col>
            <ion-col size="3">
              <ion-label> &nbsp; </ion-label>
            </ion-col>
            <ion-col size="3.25">
              <ion-label> ---------------- </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <ion-label> &nbsp; </ion-label>
            </ion-col>
            <ion-col>
              <ion-label size="1.25"> &nbsp; </ion-label>
            </ion-col>
            <ion-col size="2">
              <ion-label> &nbsp; </ion-label>
            </ion-col>
            <ion-col size="3.5">
              <ion-label> GST @5% </ion-label>
            </ion-col>
            <ion-col size="2.75">
              <ion-label> {{gst05 | number: '1.2-2'}} </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <ion-label> &nbsp; </ion-label>
            </ion-col>
            <ion-col>
              <ion-label size="1.25"> &nbsp; </ion-label>
            </ion-col>
            <ion-col size="2">
              <ion-label> &nbsp; </ion-label>
            </ion-col>
            <ion-col size="3.5">
              <ion-label> GST @12% </ion-label>
            </ion-col>
            <ion-col size="2.75">
              <ion-label> {{gst12 | number: '1.2-2'}} </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <ion-label> &nbsp; </ion-label>
            </ion-col>
            <ion-col>
              <ion-label size="1.25"> &nbsp; </ion-label>
            </ion-col>
            <ion-col size="2">
              <ion-label> &nbsp; </ion-label>
            </ion-col>
            <ion-col size="3.5">
              <ion-label> GST @18% </ion-label>
            </ion-col>
            <ion-col size="2.75">
              <ion-label> {{gst18 | number: '1.2-2'}} </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <ion-label> &nbsp; </ion-label>
            </ion-col>
            <ion-col>
              <ion-label size="1.25"> &nbsp; </ion-label>
            </ion-col>
            <ion-col size="2">
              <ion-label> &nbsp; </ion-label>
            </ion-col>
            <ion-col size="3">
              <ion-label> &nbsp; </ion-label>
            </ion-col>
            <ion-col size="3.25">
              <ion-label> ---------------- </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <ion-label> &nbsp; </ion-label>
            </ion-col>
            <ion-col>
              <ion-label size="1.25"> &nbsp; </ion-label>
            </ion-col>
            <ion-col size="2"> &nbsp; </ion-col>
            <ion-col size="3.5">
              <ion-label>
                <span class="prod-label"> Total {{invHead.invCurr}} </span>
              </ion-label>
            </ion-col>
            <ion-col size="2.75">
              <ion-label class="prod-label">
                {{invCalTotal | number: '1.2-2'}}
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <ion-label> &nbsp; </ion-label>
            </ion-col>
            <ion-col>
              <ion-label size="1.25"> &nbsp; </ion-label>
            </ion-col>
            <ion-col size="2">
              <ion-label> &nbsp; </ion-label>
            </ion-col>
            <ion-col size="3">
              <ion-label> &nbsp; </ion-label>
            </ion-col>
            <ion-col size="3.25">
              <ion-label> ---------------- </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <ion-label> &nbsp; </ion-label>
            </ion-col>
            <ion-col>
              <ion-label size="1.25"> &nbsp; </ion-label>
            </ion-col>
            <ion-col size="2">
              <ion-label> &nbsp; </ion-label>
            </ion-col>
            <ion-col size="3.5">
              <ion-label> Amt Paid </ion-label>
            </ion-col>
            <ion-col size="2.75">
              <ion-label> {{tender| number: '1.2-2'}} </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <ion-label> &nbsp; </ion-label>
            </ion-col>
            <ion-col>
              <ion-label size="1.25"> &nbsp; </ion-label>
            </ion-col>
            <ion-col size="2">
              <ion-label> &nbsp; </ion-label>
            </ion-col>
            <ion-col size="3.5">
              <ion-label> Tender Change </ion-label>
            </ion-col>
            <ion-col size="2.75">
              <ion-label> {{tenderCh| number: '1.2-2'}} </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-row>
      <ion-row> &nbsp; </ion-row>
    </ion-grid>
  </div>
</ion-content>
