<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="content"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> Invoices </ion-title>
    <ion-buttons slot="end">
      <ion-icon
        name="refresh"
        class="end-icon-btn ion-padding-end"
        (click)="refresh()"
      ></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon
        name="add"
        class="end-icon-btn ion-padding-end"
        (click)="createInvoice()"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-searchbar showcancelbutton="focus"> </ion-searchbar>
<ion-content class="ion-padding-bottom">
  <div *ngIf="invoices.length === 0">
    <ion-label><h5 class="text-muted">No Invoices to Show</h5></ion-label>
  </div>
  <div *ngIf="invoices.length > 0" class="padding-bottom">
    <ion-label>
      <h5 class="text-muted">Total {{invoices.length}} Invoices</h5>
    </ion-label>
    <ion-list *ngFor="let inv of invoices" class="invList">
      <ion-item button detail (click)="viewInvoice(inv)">
        <ion-icon name="business-outline" slot="start" color="dark"> </ion-icon>
        <ion-label class="ion-text-wrap"> {{ inv.invNumber }} </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
