<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button id="content"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Suppliers</ion-title>
    <ion-buttons slot="end" (click)="refresh()">
      <ion-icon name="reload" class="end-icon-btn ion-padding-end"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" (click)="addNewSuppliers()">
      <ion-icon
        name="add"
        class="end-icon-btn ion-padding-end ion-padding-start"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-searchbar showcancelbutton="focus"> </ion-searchbar>
<ion-content class="ion-padding-bottom">
  <div *ngIf="suppliers.length === 0">
    <ion-label><h5 class="text-muted">No Suppliers to Show</h5></ion-label>
  </div>
  <div *ngIf="suppliers.length > 0" class="padding-bottom">
    <ion-label>
      <h5 class="text-muted">Total {{suppliers.length}} Suppliers</h5>
    </ion-label>
    <ion-list *ngFor="let supp of suppliers" class="suppList">
      <ion-item button detail (click)="toVendor(supp)">
        <ion-icon name="business-outline" slot="start" color="dark"> </ion-icon>
        <ion-label class="ion-text-wrap"> {{ supp.vendorName }} </ion-label>
        <span
          *ngIf="supp.status==='Inactive'"
          slot="end"
          class="ion-padding-end"
        >
          <ion-icon name="ban-outline" color="danger"></ion-icon>
        </span>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
