<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="content"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> Home </ion-title>
    <ion-buttons slot="end" (click)="exit()">
      <ion-icon name="power" class="end-icon-btn ion-padding-end"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../../assets/home/inventory-bg.png"></ion-img>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card (click)="invoices()">
          <ion-card-content class="ion-text-center">
            <ion-img
              src="../../assets/home/invoices.png"
              class="img-icon"
            ></ion-img>
            <ion-label class="img-text">Invoices</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="inventory()">
          <ion-card-content class="ion-text-center">
            <ion-img src="../../assets/home/db.png" class="img-icon"></ion-img>
            <ion-label class="img-text">Inventory</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card (click)="suppliers()">
          <ion-card-content class="ion-text-center">
            <ion-img
              src="../../assets/home/vendors.png"
              class="img-icon"
            ></ion-img>
            <ion-label class="img-text">Vendors</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="users()">
          <ion-card-content class="ion-text-center">
            <ion-img
              src="../../assets/home/users.png"
              class="img-icon"
            ></ion-img>
            <ion-label class="img-text">User Access</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
